* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(249, 255, 198);
}

.caja1 {
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    height: 100px;
}

.caja2 {
    background-color: rgb(163, 253, 89) ;
    border: 2px solid black;
    height: 300px;
}

.caja3 {
    background-color: rgb(163, 253, 89) ;
    border: 2px solid black;
    height: 300px;
}

.caja4 {
    background-color: rgb(163, 253, 89) ;
    border: 2px solid black;
    height: 300px;
}

.caja5 {
    background-color: rgb(163, 253, 89) ;
    border: 2px solid black;
    height: 300px;
}

.caja6 {
    background-color: rgb(163, 253, 89) ;
    border: 2px solid black;
    height: 300px;
}

.caja7 {
    background-color: rgb(163, 253, 89) ;
    border: 2px solid black;
    height: 300px;
}
.caja8 { 
    background-color: rgb(163, 253, 89) ;
    border: 2px solid black;
    height: 300px;
}

.caja9 {
    background-color: rgb(163, 253, 89) ;
    border: 2px solid black;
    height: 300px;
}

.caja10 {
    background-color: rgb(163, 253, 89) ;
    border: 2px solid black;
    height: 300px;
}

.caja11 {
    background-color: rgb(163, 253, 89) ;
    border: 2px solid black;
    height: 300px;
}

.caja12 {
    background-color: rgb(163, 253, 89) ;
    border: 2px solid black;
    height: 300px;
}

.caja13 {
    background-color: rgb(163, 253, 89) ;
    border: 2px solid black;
    height: 300px;
}

.caja14 {
    background-color: rgb(163, 253, 89) ;
    border: 2px solid black;
    height: 300px;
}

.caja15 {
    background-color: rgb(163, 253, 89) ;
    border: 2px solid black;
    height: 300px;
}

